<h2 class="title-page">Ваш профиль</h2>
<app-preloader [load]="isLoadProfile" height="calc(100vh - 400px)">
  <main class="flex gap-8" *ngIf="profileForm">
    <div class="left-side flex flex-col">
      <div class="avatar">
        <div class="avatar-viewer">
          <img src="../../../assets/icons/icon-avatar.svg" alt="">
        </div>
      </div>
      <div class="username mb-4 mt-4">
        {{login}}
      </div>
      <div class="flex justify-center" *ngIf="!disableForm">
        <app-upload-image />
      </div>
    </div>
    <div class="right-side flex flex-col">
      <label>ФИО</label>
      <div class="grid grid-cols-3 gap-5 mb-5">
        <app-input label="Фамилия"
                   [value]="profileForm.get('FullName.First')?.value ?? ''"
                   (valueChange)="profileForm.get('FullName.First')?.setValue($event)"
                   [error]="profileForm.get('FullName.First')?.invalid && profileForm.get('FullName.First')?.touched ? 'Поле обязательно к заполнению' : ''"
                   [disabled]="disableForm"/>
        <app-input label="Имя"
                   [value]="profileForm.get('FullName.Second')?.value ?? ''"
                   (valueChange)="profileForm.get('FullName.Second')?.setValue($event)"
                   [error]="profileForm.get('FullName.Second')?.invalid && profileForm.get('FullName.Second')?.touched ? 'Поле обязательно к заполнению' : ''"
                   [disabled]="disableForm"/>
        <app-input label="Отчество"
                   [value]="profileForm.get('FullName.Surname')?.value ?? ''"
                   (valueChange)="profileForm.get('FullName.Surname')?.setValue($event)"
                   [error]="profileForm.get('FullName.Surname')?.invalid && profileForm.get('FullName.Surname')?.touched ? 'Поле обязательно к заполнению' : ''"
                   [disabled]="disableForm"/>
      </div>
      <div class="flex flex-col gap-5 mb-5">
        <app-input label="Организация"
                   [value]="profileForm.get('Organization')?.value ?? ''"
                   (valueChange)="profileForm.get('Organization')?.setValue($event)"
                   [disabled]="disableForm"/>
        <app-input label="Эл. почта"
                   [value]="profileForm.get('Email')?.value ?? ''"
                   (valueChange)="profileForm.get('Email')?.setValue($event)"
                   [error]="profileForm.get('Email')?.invalid && profileForm.get('Email')?.touched ? 'Поле обязательно к заполнению' : ''"
                   [disabled]="disableForm"/>
      </div>

      <label>Контактные данные</label>
      <div class="grid grid-cols-2 gap-5 mb-5">
        <div class="left flex flex-col gap-5">
          <app-input label="Telegram"
                     [value]="profileForm.get('Contact.PhoneTelegram')?.value ?? ''"
                     (valueChange)="profileForm.get('Contact.PhoneTelegram')?.setValue($event)"
                     [disabled]="disableForm"/>
          <app-input label="Viber"
                     [value]="profileForm.get('Contact.PhoneViber')?.value ?? ''"
                     (valueChange)="profileForm.get('Contact.PhoneViber')?.setValue($event)"
                     [disabled]="disableForm"/>
          <app-input label="WhatsApp"
                     [value]="profileForm.get('Contact.PhoneWhatsapp')?.value ?? ''"
                     (valueChange)="profileForm.get('Contact.PhoneWhatsapp')?.setValue($event)"
                     [disabled]="disableForm"/>
        </div>

        <div class="right">
          <app-contact-card [contact]="contact"/>
        </div>
      </div>
      <app-input label="Режим работы"
                 [value]="profileForm.get('Contact.WorkingMode')?.value ?? ''"
                 (valueChange)="profileForm.get('Contact.WorkingMode')?.setValue($event)"
                 [disabled]="disableForm"/>

      <div class="flex gap-5 mt-5 mb-5">
        <div class="flex-grow" *ngIf="disableForm">
          <app-button theme="yellow" (click)="disableForm = false">
            Редактировать
          </app-button>
        </div>
        <div class="flex-grow" *ngIf="!disableForm">
          <app-button theme="green" (click)="saveProfile()">
            Сохранить
          </app-button>
        </div>
        <div class="flex-grow" *ngIf="!disableForm">
          <app-button theme="red" (click)="cancelProfile()">
            Отмена
          </app-button>
        </div>
      </div>

      <label class="flex gap-2 items-center cursor-pointer" (click)="isActiveChangePassword = !isActiveChangePassword">
        <p>Смена пароля</p>
        <img [ngClass]="{'rotate': isActiveChangePassword}" src="../../../assets/icons/icon-arrow-drop-down-rounded.svg" alt="">
      </label>
      <div *ngIf="isActiveChangePassword" class="flex flex-col gap-5">
        <div class="flex gap-5">
          <div class="w-full">
            <app-input label="Старый пароль" [disabled]="false"/>
          </div>
          <div class="w-full">
            <app-input label="Новай пароль" [disabled]="false"/>
          </div>
        </div>
        <div class="flex-wrap">
          <app-button theme="green" (click)="changePassword()">
            Изменить пароль
          </app-button>
        </div>
      </div>
    </div>
  </main>
</app-preloader>
