<div class="input_wrapper" [ngClass]="{'input-error': error}" (click)="onClick($event)">
  <div class="input-label"
       [ngClass]="{
         'input-label-focus' : service.isTransform$.value,
         'focus-label' : service.isFocus$.value,
         'label-is-value' : !service.isFocus$.value && value
       }"
  >
    {{label}}
  </div>
  <div [id]="service.id" [innerHTML]="service.svg" class="input-icon">
  </div>
  <input
    class="input-base"
    [type]="type"
    [style]="{'padding-left': service.svg ? '45px' : '20px'}"
    [ngClass]="{
      'placeholder' : service.isTransform$.value,
      'input-is-value' : !service.isFocus$.value && value,
      'cursor-pointer': vDropdown
    }"
    [value]="value"
    (input)="onInput($event)"
    [placeholder]="placeholder"
    (focus)="onFocus()"
    (blur)="onBlur()"
    [readonly]="vDropdown"
  >
</div>
<div *ngIf="error" class="error">
  <div class="image">
    <img src="../../../../assets/icons/icon-nearby-error.svg" alt="">
  </div>
  <p>{{error}}</p>
</div>

