.main-block{
  .border-block{
    border-bottom: 1px solid #d2d2d2;
  }
  .image-block{
    width: 50%;
  }
  .input-block {
    width: 50%;
  }
}

figure{
  display: flex;
  flex-direction: column;
  h3{
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    margin-bottom: 15px;
  }
  section{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
    justify-content: center;
    .box-transport{
      user-select: none;
      height: 100px;
      width: 100px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 16px 12px;
      transition: var(--transition-base);
      cursor: pointer;
      &:hover{
        scale: 1.05;
      }
      .image{
        display: flex;
        justify-content: center;
        max-height: 42px;
        width: 100%;
        img{
          max-height: 42px;
        }
      }
      p{
        font-weight: 500;
        font-size: 12px;
        text-align: center;
      }
    }
    &.cargo{
      .box-transport{
        background: var(--black);
        p{
          color: var(--blue-light);
        }
      }
    }
    &.passenger{
      .box-transport{
        background: var(--blue);
        p{
          color: var(--yellow);
        }
      }
    }
    &.special{
      .box-transport{
        height: auto;
        padding: 12px;
        background: var(--blue-light);
        p{
          color: var(--blue);
          font-size: 10px;
          margin-top: 6px;
        }
      }
    }
  }
}


.scroll-wrapper{
  max-height: calc(100vh - 200px);
  overflow: auto;
  /* width */
  &::-webkit-scrollbar {
    width: 3px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: #D2D2D2;
    border-radius: 20px;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--black-50);
    transition: var(--transition-base);
    border-radius: 20px;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    filter: brightness(1.2);
  }
}
