
<div class="title-header flex justify-between w-full">
  <h2 class="title-page">
    {{mode == 'Add' ? 'Добавление транспорта' : 'Редактирование транспорта'}}
  </h2>
  <div class="btn-controls flex gap-4" style="margin-bottom: 20px;">
    <app-button theme="green" [iconPath]="mode == 'Add' ? '../../../assets/icons/icon-discket-add.svg' : '../../../assets/icons/icon-discket-edit.svg'" [isLoad]="isLoad" (click)="save()"/>
    <app-button theme="light-blue" iconPath="../../../assets/icons/icon-cancel-rounded.svg" (click)="cancel()" [disabled]="isLoad"/>
    <app-button *ngIf="mode == 'Edit'" theme="red" iconPath="../../../assets/icons/icon-waste-basket.svg" [isLoad]="isLoad" (click)="delete()"/>
  </div>
</div>

<app-preloader [load]="!form">
  <div *ngIf="form" class="main-block">
    <div class="border-block flex gap-10 pb-5">
      <div class="flex-grow">
        <app-input label="Заголовок"
                   [value]="form.get('Title')?.value ?? ''"
                   (valueChange)="form.get('Title')?.setValue($event)"
                   [error]="form.get('Title')?.invalid && form.get('Title')?.touched ? 'Поле обязательно к заполнению' : ''"
        />
      </div>
      <div class="flex-grow">
        <app-dropdown label="Регион" [items]="RegionItems" (select)="onSelectRegion($event)"
                      [defaultValue]="defaultRegion"
                      [error]="form.get('Region')?.invalid && form.get('Region')?.touched ? 'Поле обязательно к заполнению' : ''"/>
      </div>
    </div>
    <div class="border-block flex gap-10 pb-5 mt-10">
      <div class="image-block relative">
        <app-image-preview/>
        <app-type-transport-sign (click)="modalService.open()"
                                 [type]="currentType"
                                 [image]="currentTypeImg"/>
      </div>
      <div *ngIf="currentType === TransportType.Cargo" class="input-block flex flex-col gap-5">
        <app-input label="Марка"
                   [value]="form.get('Brand')?.value ?? ''"
                   (valueChange)="form.get('Brand')?.setValue($event)"/>
        <app-dropdown label="Год выпуска" placeholder="гггг." [items]="YearsItems" (select)="onSelectYearsItems($event)" [defaultValue]="defaultYearIssue"/>
        <app-dropdown label="Вид перевозок" [items]="CargoTransportationKindItems" (select)="onSelectTransportationKind($event)" [defaultValue]="defaultCargoTransportationKind"
                      [error]="form.get('TransportationKind')?.invalid && form.get('TransportationKind')?.touched ? 'Поле обязательно к заполнению' : ''"/>
        <div>
          <label>Кузов</label>
          <div class="grid grid-cols-2 gap-5 mb-5">
            <app-input type="number" label="Длина" placeholder="м."
                       [value]="form.get('Body.Length')?.value ?? ''"
                       (valueChange)="form.get('Body.Length')?.setValue($event)"/>
            <app-input type="number" label="Ширина" placeholder="м."
                       [value]="form.get('Body.Width')?.value ?? ''"
                       (valueChange)="form.get('Body.Width')?.setValue($event)"/>
            <app-input type="number" label="Высота" placeholder="м."
                       [value]="form.get('Body.Height')?.value ?? ''"
                       (valueChange)="form.get('Body.Height')?.setValue($event)"/>
            <app-input type="number" label="Объем" placeholder="м/куб."
                       [value]="form.get('Body.Volume')?.value ?? ''"
                       (valueChange)="form.get('Body.Volume')?.setValue($event)"/>
          </div>
          <div class="grid grid-cols-1 gap-5">
            <app-input type="number" label="Грузоподъемность" placeholder="т."
                       [value]="form.get('Body.LoadCapacity')?.value ?? ''"
                       (valueChange)="form.get('Body.LoadCapacity')?.setValue($event)"/>
            <app-dropdown label="Вид" [items]="CargoBodyKindItems" (select)="onSelectCargoBodyKind($event)" [defaultValue]="defaultCargoBodyKind"/>
          </div>
        </div>
      </div>
    </div>
    <div class="border-block flex gap-10 pb-5 pt-5">
      <div class="flex flex-grow flex-col gap-5">
        <app-input type="number" label="Цена за час" placeholder="Руб."
                   [value]="form.get('Price.PerHour')?.value ?? ''"
                   (valueChange)="form.get('Price.PerHour')?.setValue($event)"/>
        <app-input type="number" label="Цена за смену" placeholder="Руб."
                   [value]="form.get('Price.PerShift')?.value ?? ''"
                   (valueChange)="form.get('Price.PerShift')?.setValue($event)"/>
        <app-input type="number" label="Цена за км" placeholder="Руб."
                   [value]="form.get('Price.PerKm')?.value ?? ''"
                   (valueChange)="form.get('Price.PerKm')?.setValue($event)"/>
      </div>
      <div class="flex flex-grow flex-col gap-5">
        <app-dropdown label="Опыт работы" [items]="ExperienceWorkItems" (select)="onSelectExperienceWork($event)" [defaultValue]="defaultExperienceWork"
                      [error]="form.get('ExperienceWork')?.invalid && form.get('ExperienceWork')?.touched ? 'Поле обязательно к заполнению' : ''"/>
        <app-dropdown label="Способ оплаты" [items]="PaymentMethodItems" (select)="onSelectPaymentMethod($event)" [defaultValue]="defaultPaymentMethod"/>
        <app-dropdown label="Порядок оплаты" [items]="PaymentOrderItems" (select)="onSelectPaymentOrder($event)" [defaultValue]="defaultPaymentOrder"/>
      </div>
    </div>
    <div class="flex pt-5">
      <div class="flex-grow">
        <app-input label="Описание"
                   [value]="form.get('Description')?.value ?? ''"
                   (valueChange)="form.get('Description')?.setValue($event)"
                   [error]="form.get('Description')?.invalid && form.get('Description')?.touched ? 'Поле обязательно к заполнению' : ''"/>
      </div>
    </div>
  </div>
</app-preloader>

<app-modal-window *ngIf="modalService.isVisible$ | async" title="Выбор типа">
  <div class="flex flex-col">
    <figure>
      <h3>Грузовой транспорт</h3>
      <section class="cargo">
        <div *ngFor="let item of cargo"
             class="box-transport"
             (click)="onSelectTransportType(item, TransportType.Cargo)"
        >
          <div class="image">
            <img [src]="'../../../assets/icons/transport/cargo/icon-cargo-' + item.Icon + '.svg'" alt="">
          </div>
          <p>{{item.Text}}</p>
        </div>
      </section>
    </figure>
<!--    <figure>-->
<!--      <h3>Пассажирский транспорт</h3>-->
<!--      <section class="passenger">-->
<!--        <div *ngFor="let item of passenger"-->
<!--             class="box-transport"-->
<!--        >-->
<!--          <div class="image">-->
<!--            <img [src]="'../../../assets/icons/transport/passenger/icon-passenger-' + item.Icon + '.svg'" alt="">-->
<!--          </div>-->
<!--          <p>{{item.Text}}</p>-->
<!--        </div>-->
<!--      </section>-->
<!--    </figure>-->
<!--    <figure>-->
<!--      <h3>Спецтехника</h3>-->
<!--      <section class="special">-->
<!--        <div *ngFor="let item of special"-->
<!--             class="box-transport"-->
<!--        >-->
<!--          <div class="image">-->
<!--            <img [src]="'../../../assets/icons/transport/special/icon-' + item.Icon + '.png'" alt="">-->
<!--          </div>-->
<!--          <p>{{item.Text}}</p>-->
<!--        </div>-->
<!--      </section>-->
<!--    </figure>-->
  </div>
</app-modal-window>
