.header-nav{
  background: var(--blue);
  height: 70px;
  z-index: 10;
  .wrapper{
    color: var(--white);
    padding: 0 30px;
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    .logo, .nav, .user{
      flex-grow: 1;
    }
    .logo{
      max-width: 40px;
      flex-shrink: 0;
      cursor: pointer;
      transition: var(--transition-base);
      &:hover{
        transform: scale(1.1);
      }
    }
    .nav{
      display: flex;
      height: 100%;
      align-items: center;
      .item{
        text-align: center;
        flex: 1 1 33.333%;
        display: flex;
        height: 100%;
        cursor: pointer;
        transition: var(--transition-base);
        span {
          width: 100%;
          align-self: center;
          font-size: 24px;
          font-weight: 700;
          transition: var(--transition-base);
        }
        &.active{
          border-bottom: 5px solid var(--green);
          span{
            color: var(--green);
            padding-top: 5px;
          }
        }
        &:hover{
          color: var(--green);
          span{
            transform: scale(1.1);
          }
        }
      }
    }
    .user{
      max-width: 40px;
      .avatar{
        width: 40px;
        height: 40px;
        background: var(--white);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &.unsignin{
          border: 2px solid var(--red);
          filter: drop-shadow(0px 4px 30px rgba(159, 225, 94, 0.35));
          box-shadow: 0 0 30px 1px rgba(236, 103, 107, 0.35);
        }
        &.signin{
          border: 2px solid var(--green);
          box-shadow: 0 0 30px 1px rgba(159, 225, 94, 0.35);
        }
      }
    }
  }
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
