<header id="header-nav" class="header-nav">
  <div *ngIf="!isSign" class="_container wrapper">
    <div class="logo" (click)="changeNavTab(navTab.home)">
      <img src="../../../assets/images/logo-black-1024.png" alt="">
    </div>
    <nav class="nav">
      <div class="item"
           [ngClass]="{'active': currentNavTab == navTab.transports}"
           (click)="changeNavTab(navTab.transports)"
      >
        <span>Транспорт</span>
      </div>
      <div class="item"
           [ngClass]="{'active': currentNavTab == navTab.orders}"
           (click)="changeNavTab(navTab.orders)"
      >
        <span>Заказы</span>
      </div>
      <div class="item"
           [ngClass]="{'active': currentNavTab == navTab.about}"
           (click)="changeNavTab(navTab.about)"
      >
        <span>О нас</span>
      </div>
    </nav>
    <div class="user">
      <div class="avatar"
           [ngClass]="{'signin' : identifyService.isAuthenticated(), 'unsignin' : !identifyService.isAuthenticated()}"
           (click)="modalService.open()">
        <img src="../../../assets/icons/icon-avatar.svg" alt="">
      </div>
    </div>
  </div>
  <div *ngIf="isSign" class="_container wrapper">
    <nav class="nav">
      <div class="item"
           (click)="changeNavTab(navTab.home)"
      >
        <span>Вернуться на главную</span>
      </div>
    </nav>
  </div>
</header>

<app-modal-window title="Аккаунт" *ngIf="modalService.isVisible$ | async">
  <div *ngIf="!identifyService.isAuthenticated()" class="flex flex-col" style="gap: 20px">
    <div class="flex-grow">
      <app-button theme="yellow" (click)="routePageSignUp()">
        Регистрация
      </app-button>
    </div>
    <div class="flex-grow">
      <app-button theme="green" (click)="routePageSignIn()">
        Войти
      </app-button>
    </div>
  </div>
  <div *ngIf="identifyService.isAuthenticated()" class="flex flex-col" style="gap: 20px">
    <app-button theme="red" (click)="logout()">Выход</app-button>
  </div>
</app-modal-window>
