<h2 class="title-page">
  Добавление транспорта
</h2>

<div class="main-block">
  <div class="border-block flex gap-10 pb-5">
    <div class="flex-grow">
      <app-input label="Заголовок" [(value)]="cargoTransport.Title" />
    </div>
    <div class="flex-grow">
      <app-dropdown label="Регион" [items]="RegionItems" (select)="onSelectRegion($event)"/>
    </div>
  </div>
  <div class="border-block flex gap-10 pb-5 mt-10">
    <div class="image-block relative">
      <app-image-preview/>
      <app-type-transport-sign (click)="modalService.open()"
                               [type]="currentType"
                               [image]="currentTypeImg"/>
    </div>
    <div *ngIf="currentType === TransportType.Cargo" class="input-block flex flex-col gap-5">
      <app-input label="Марка" [(value)]="cargoTransport.Brand"/>
      <app-dropdown label="Год выпуска" placeholder="гггг." [items]="YearsItems" (select)="onSelectYearsItems($event)"/>
      <app-dropdown label="Вид перевозок" [items]="CargoTransportationKindItems" (select)="onSelectTransportationKind($event)"/>
      <div>
        <label>Кузов</label>
        <div class="grid grid-cols-2 gap-5 mb-5">
          <app-input type="number" label="Длина" placeholder="м." [(value)]="cargoTransport.Body.Length"/>
          <app-input type="number" label="Ширина" placeholder="м." [(value)]="cargoTransport.Body.Width"/>
          <app-input type="number" label="Высота" placeholder="м." [(value)]="cargoTransport.Body.Height"/>
          <app-input type="number" label="Объем" placeholder="м/куб." [(value)]="cargoTransport.Body.Volume"/>
        </div>
        <div class="grid grid-cols-1 gap-5">
          <app-input type="number" label="Грузоподъемность" placeholder="т." [(value)]="cargoTransport.Body.LoadCapacity"/>
          <app-dropdown label="Вид" [items]="CargoBodyKindItems" (select)="onSelectCargoBodyKind($event)"/>
        </div>
      </div>
    </div>
  </div>
  <div class="border-block flex gap-10 pb-5 pt-5">
    <div class="flex flex-grow flex-col gap-5">
      <app-input type="number" label="Цена за час" placeholder="Руб." [(value)]="cargoTransport.Price.PerHour"/>
      <app-input type="number" label="Цена за смену" placeholder="Руб." [(value)]="cargoTransport.Price.PerShift"/>
      <app-input type="number" label="Цена за км" placeholder="Руб." [(value)]="cargoTransport.Price.PerKm"/>
    </div>
    <div class="flex flex-grow flex-col gap-5">
      <app-dropdown label="Опыт работы" [items]="ExperienceWorkItems" (select)="onSelectExperienceWork($event)"/>
      <app-dropdown label="Способ оплаты" [items]="PaymentMethodItems" (select)="onSelectPaymentMethod($event)"/>
      <app-dropdown label="Порядок оплаты" [items]="PaymentOrderItems" (select)="onSelectPaymentOrder($event)"/>
    </div>
  </div>
  <div class="flex pb-5 pt-5">
    <div class="flex-grow">
      <app-input label="Описание" [(value)]="cargoTransport.Description"/>
    </div>
  </div>
</div>

<div class="footer-block flex gap-10">
  <div class="flex-grow">
    <app-button theme="green" [isLoad]="isLoadPost" (click)="postTransport()">
      Сохранить
    </app-button>
  </div>
  <div class="flex-grow">
    <app-button theme="red" (click)="cancel()">
      Отмена
    </app-button>
  </div>
</div>

<app-modal-window *ngIf="modalService.isVisible$ | async" title="Выбор типа">
  <div class="flex flex-col">
    <figure>
      <h3>Грузовой транспорт</h3>
      <section class="cargo">
        <div *ngFor="let item of cargo"
             class="box-transport"
             (click)="onSelectTransportType(item, TransportType.Cargo)"
        >
          <div class="image">
            <img [src]="'../../../assets/icons/transport/cargo/icon-cargo-' + item.Icon + '.svg'" alt="">
          </div>
          <p>{{item.Text}}</p>
        </div>
      </section>
    </figure>
<!--    <figure>-->
<!--      <h3>Пассажирский транспорт</h3>-->
<!--      <section class="passenger">-->
<!--        <div *ngFor="let item of passenger"-->
<!--             class="box-transport"-->
<!--        >-->
<!--          <div class="image">-->
<!--            <img [src]="'../../../assets/icons/transport/passenger/icon-passenger-' + item.Icon + '.svg'" alt="">-->
<!--          </div>-->
<!--          <p>{{item.Text}}</p>-->
<!--        </div>-->
<!--      </section>-->
<!--    </figure>-->
<!--    <figure>-->
<!--      <h3>Спецтехника</h3>-->
<!--      <section class="special">-->
<!--        <div *ngFor="let item of special"-->
<!--             class="box-transport"-->
<!--        >-->
<!--          <div class="image">-->
<!--            <img [src]="'../../../assets/icons/transport/special/icon-' + item.Icon + '.png'" alt="">-->
<!--          </div>-->
<!--          <p>{{item.Text}}</p>-->
<!--        </div>-->
<!--      </section>-->
<!--    </figure>-->
  </div>
</app-modal-window>
