@font-face {
  font-family: 'Ostrich Sans';
  src: url('/assets/fonts/ostrichSans/OstrichSans-Heavy.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('/assets/fonts/comfortaa/Comfortaa-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'MontserratAlternates';
  src: url('/assets/fonts/montserratAlternates/MontserratAlternates-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
