* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates";
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  box-sizing: border-box;
}

body{
  background: url("/assets/images/reapet-image.svg") repeat fixed;
}

button,
button:focus,
input,
input:focus{
  outline: none;
}

._container{
  max-width: 1024px;
  margin: 0 auto;
  height: 100%;
  @media (max-width: 1054px) {
    padding: 0 15px;
  }
}



//---ANIMATION---
.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
