<button class="btn-base"
        [ngClass]="{
          'disabled' : disabled || isLoad,
          'blue' : BtnTheme.Blue == theme,
          'yellow' : BtnTheme.Yellow == theme,
          'light-blue' : BtnTheme.BlueLight == theme,
          'black' : BtnTheme.Black == theme,
          'white' : BtnTheme.White == theme,
          'green' : BtnTheme.Green == theme,
          'red' : BtnTheme.Red == theme
        }"
        (click)="onClick($event)">
  <div class="content" *ngIf="!isLoad">
    <ng-content></ng-content>
  </div>
  <div class="content" *ngIf="isLoad">
    <img [src]="'../../../../assets/icons/loading-loop-' + colorLoading + '.svg'" alt="">
  </div>
</button>
