.__transport{
  border-radius: 12px;
  padding: 24px;
  background: var(--black);
  color: var(--white);
  transition: var(--transition-base);
  height: 100%;
  &:hover {
    scale: 1.02;
  }
  .header{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 5px;
    .title{
      display: flex;
      justify-content: space-between;
      gap: 20px;
      h3{
        color: var(--blue-light);
        font-weight: 700;
        font-size: 20px;
      }
      .id {
        font-weight: 700;
        font-size: 10px;
        line-height: 15px;
        svg{
          margin-right: 3px;
          path {
            fill: var(--white);
          }
        }
      }
    }
    .region{
      line-height: 16px;
      font-weight: 500;
      font-size: 14px;
      svg {
        margin-right: 5px;
        path {
          fill: var(--white);
        }
      }
    }
  }
  .header-separator{
    border-radius: 12px;
    height: 2px;
    background: var(--blue-light);
    margin: 10px 0 20px;
  }
  .main-content{
    gap: 16px;
    margin-top: 10px;
    .left-side{
      width: 40%;
      min-width: 138px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .images{
        position: relative;
        .preview{
          background: var(--white);
          border-radius: 12px;
          width: 100%;
          aspect-ratio: 16 / 9;
        }
        .__type {
          top: -10px;
          right: -10px;
          position: absolute;
          background: var(--blue-light);
          border-radius: 8px;
          rotate: 45deg;
          width: 36px;
          height: 36px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: var(--transition-base);

          &.cargo {
            background: var(--blue-light);
          }

          &.passenger {
            background: var(--blue);
          }

          &.special {
            background: var(--light);
          }

          img {
            rotate: -45deg;
            max-width: 24px;
            filter: brightness(0.15) saturate(0);
          }
        }
      }
      .prices{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-self: center;
        .banner{
          width: 138px;
          height: 36px;
          background-image: url("../../../../assets/icons/icon-price-banner.svg");
          color: var(--black);
          display: flex;
          flex-direction: column;
          align-self: center;
          justify-content: center;
          .__price{
            font-weight: 700;
            font-size: 12px;
            text-align: center;
            p{
              font-weight: 500;
            }
          }
        }
      }
    }
    .right-side{
      width: 60%;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      .base-info-block{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .item{
          border-bottom: 1px solid var(--blue-light);
          display: flex;
          align-items: stretch;
          justify-content: space-between;
          padding-bottom: 10px;
          gap: 10px;
          h4{
            font-weight: 600;
            font-size: 14px;
            width: 50%;
            max-width: 120px;
          }
          p{
            font-weight: 400;
            font-size: 12px;
            text-align: right;
            width: 50%;
          }
        }
      }
      .contact-block {
        background: var(--white);
        border-radius: 8px;
        padding: 8px 12px;
      }
    }
  }
}
