.image-viewer-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.image-viewer-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  max-height: 95vh;
  overflow: auto;
  padding: 2px;
  background-color: var(--black);
  box-shadow: var(--shadow-1);
  border-radius: 12px;
  z-index: 1001;
  width: 95vh;

  &.fade-in {
    animation: fade-in 0.3s ease-in-out;
  }

  &.fade-out {
    animation: fade-out 0.3s ease-in-out;
  }

  .image-viewer-body{
    display: flex;
    align-items: center;
    justify-content: center;
    .image{
      max-height: 100%;
      border-radius: 12px;
      box-shadow: var(--shadow-1);
    }
    .close-btn{
      position: absolute;
      top: 8px;
      right: 8px;
      width: 32px;
      height: 32px;
      background: var(--white);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: var(--shadow-1);
      border-radius: 12px;
      transition: var(--transition-base);
      cursor: pointer;
      &:hover{
        scale: 1.1;
      }
    }
  }
}
