<h2 class="title-page">{{titlePage}}</h2>
<div class="btn-tab-nav">
  <div class="__item cargo" (click)="routeTo(namesRoute.TRANSPORTS_CARGO)" [ngClass]="{'active' : currentTab === tab.Cargo}">
    <p>Грузовой</p>
  </div>
  <div class="__item passenger" (click)="routeTo(namesRoute.TRANSPORTS_PASSENGER)"  [ngClass]="{'active' : currentTab === tab.Passenger}">
    <p>Пассажирский</p>
  </div>
  <div class="__item special" (click)="routeTo(namesRoute.TRANSPORTS_SPECIAL)"  [ngClass]="{'active' : currentTab === tab.Special}">
    <p>Спецтехника</p>
  </div>
</div>

<router-outlet></router-outlet>




