.header-preview{
  height: 236px;
  background: var(--yellow);
  align-items: center;
  transition: var(--transition-base);
  .wrapper-content{
    height: 100%;
    display: flex;
    justify-content: center;
    .content{
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      height: 175px;
      color: var(--blue);
      cursor: default;
      user-select: none;
      transition: var(--transition-base);
      .content_logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .content_logo_img{
          max-width: 145px;
        }
        .content_logo_text{
          font-family: "Ostrich Sans", sans-serif;
          font-size: 48px;
          text-align: center;
        }
      }
      .content_line{
        width: 3px;
        height: 100%;
        margin: 0 20px;
        background: var(--blue);
        border-radius: 5px;
      }
      .content_text{
        font-family: 'Comfortaa';
        font-weight: 700;
        font-size: 39px;
        line-height: 43px;
      }
    }
  }
}

.hidden-header-preview {
  height: 0;
  .content{
    opacity: 0;
    transform: scaleY(0);
  }
}
