<header class="header-preview">
  <div class="_container">
    <div class="wrapper-content">
      <div class="content">
        <div class="content_logo">
          <div class="content_logo_img">
            <img src="../../../assets/images/logo-blue-1024.png" alt="">
          </div>
          <div class="content_logo_text">
            {{"fleetfinder" | uppercase}}
          </div>
        </div>
        <div class="content_line">

        </div>
        <div class="content_text">
          Соединяем <br>
          вас <br>
          с вашим <br>
          грузом
        </div>
      </div>
    </div>
  </div>
</header>
