.background-content{
  background: var(--white);
  box-shadow: var(--shadow-1);
  border-radius: 0 0 25px 25px;
  padding: 30px;
  width: 100%;
  margin-bottom: 30px;
}

.margin-top-content{
  margin-top: 70px;
}
